<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BadUSB_Firewall.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <userSettings>
    <BadUSB_Firewall.Properties.Settings>
      <setting name="AdminRights" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AllowPopupMessages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BlockUSBDevices" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TerminateProcess" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Is64BitOS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InitialNetworkAdapters" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="InitialKeyboardConnected" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="InitialPointingDevices" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Tweak_BlockAll" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Tweak_BlockStorage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Tweak_BlockMice" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Tweak_BlockKeyboards" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MyTitle" serializeAs="String">
        <value>BadUSB-Software-Firewall</value>
      </setting>
      <setting name="Detect_USBChanges" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutomaticRemoveofDriver" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AdvancedSettings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FirstStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ProtectiveFunction" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AppExitKeyboards" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AppExitPointingDevices" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AppExitNetworkAdapters" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SafeMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Auto_StartKeylogger" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StopApplication" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ContinueApplication" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NotifyWhitelist" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowOnlyMassStorage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DetectPortChange" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ProhibitPortChange" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BlockNewKeyboards" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BlockIdenticalWhitelist" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BlockNewNetworkAdapter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BlockNewHID" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BlockNewMassStorage" serializeAs="String">
        <value>False</value>
      </setting>
    </BadUSB_Firewall.Properties.Settings>
  </userSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>