<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <add key="FirstStart" value="True" />
  <add key="AllowPopupMessages" value="False" />
  <add key="AdminRights" value="False" />
  <add key="BlockUSBDevices" value="True" />
  <add key="TerminateProcess" value="False" />
  <add key="Is64BitOS" value="False" />
  <add key="InitialNetworkAdapters" value="0" />
  <add key="InitialKeyboardConnected" value="0" />
  <add key="InitialPointingDevices" value="0" />  
  <add key="Tweak_BlockAll" value="False" />
  <add key="Tweak_BlockStorage" value="False" />
  <add key="Tweak_BlockMice" value="False" />
  <add key="Tweak_BlockKeyboards" value="False" />
  <add key="MyTitle" value="BadUSB_Firewall" />
  <add key="Detect_USBChanges" value="True" />
  <add key="AutomaticRemoveofDriver" value="True" />
  <add key="AdvancedSettings" value="True" />
</configuration>